<%= content_for :page_header do %>

    <h1> Home Page </h1>

<% end %>
<%= content_for :secondary_area do %>
<%= link_to "Go To Startup Decision Page >> ",new_start_up_decision_path,:class=>"primary btn" %>
<%= link_to "Go To Reports(PnL) >> ",new_start_up_decision_path,:class=>"primary btn" %>

    <% end %>



    <p> A biscuit (play /ˈbɪskɨt/) is a baked, edible, and commonly flour-based product. The term is used to apply to
      two distinctly different products in North America and the Commonwealth Nations.

      In the United States it is a small, soft, leavened bread, somewhat similar to a scone. A Southern regional
      variation on the term, beaten biscuit, is closer to the British form.
      In Commonwealth English, it is a small and hard, often sweet, baked product that would be called either a cookie
      or a cracker in the United States, and either a biscuit or a cookie in Canada. Biscuits in the British Isles may
      be savoury (savoury biscuits are often referred to as "crackers") or sweet, such as chocolate biscuits, ginger
      nuts, custard creams or the Nice biscuit.
    </p>

    <p>
      The modern-day confusion in the English language around the word "biscuit" is created by its etymology.

      The Middle French word bescuit is derived from the Latin words bis (twice) and coquere, coctus (to cook, cooked),
      and, hence, means "twice-cooked".[1] This is because biscuits were originally cooked in a twofold process: first
      baked, and then dried out in a slow oven.[2]

      This term was then adapted into English in the 14th century during the Middle Ages, in the Middle English word
      bisquite, to represent a hard, twice-baked product.[3]

      However, the Dutch language from around 1703 had adopted the word koekje, a language diminutive of cake, to have a
      similar meaning for a similar hard, baked product.[4] This may be related[citation needed] to the Russian or
      Ukrainian translation, where "biscuit" has come to mean "sponge cake".

      The difference between the secondary Dutch word and that of Latin origin is that, whereas the koekje is a cake
      that rises during baking, the biscuit, which has no raising agent, in general does not (see gingerbread/ginger
      biscuit), except for the expansion of heated air during baking.[citation needed]

      When peoples from Europe began to emigrate to the United States, the two words and their "same but different"
      meanings began to clash. After the American War of Independence against the British, the word cookie became the
      word of choice to mean a hard, twice-baked product.[citation needed]

      Further confusion has been added by the adoption of the word biscuit for a small leavened bread popular in the
      United States.

      Today, according to American English dictionary Merriam-Webster:

      A cookie is a "small flat or slightly raised cake".[4]
      A biscuit is "any of various hard or crisp dry baked product" similar to the American English terms cracker or
      cookie.[3]
      A biscuit can also mean "a small quick bread made from dough that has been rolled out and cut or dropped from a
      spoon".[3]

      Today, throughout most of the world, the term biscuit still means a hard, crisp, brittle bread, except in the
      United States, where it now denotes a softer bread product baked only once. In modern Italian usage, the term
      biscotto is used to refer to any type of hard twice-baked biscuit, and not only to the cantuccini as in the past.
    </p>

