<%= content_for :page_header do %>
    New Import
<% end %>
<h2>Please Ensure that the excel file has the format as specified below</h2>
<table border="solid 1px  black">
  <tr>
    <th>UserName</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Password</th>
    <th>Email</th>
    <th>SuperAdmin</th>
    <th>Admin</th>
    <th>Facilitator</th>
    <th>Student</th>


  </tr>

</table>

<br>
<br>
<br>
<br>


<%= render 'imports/form' %>

<%= link_to 'Back', imports_path %>
